---
layout: default
---

<article class="page">
  <div class="entry" style="padding-left: 15px;">
    {{ content }}
  </div>
</article>

<footer style="padding-top: 5vh; width: 100vw; height: 35vh; background-color: #2B1C10; color: #E1D4C1;">
  <div style="width: 40vw; padding-left: 10vw; float: left; padding-top: 100px;">
    Contact: <a href="mailto:contact@elimelanson.com" style="color: #E1D4C1;">contact@elimelanson.com</a>
    <br/>
    Instagram: <a href="https://instagram.com/_elimelon" style="color: #E1D4C1;">@_elimelon</a>
  </div>
  <div style="width: 40vw; padding-right: 10vw; float: left; padding-top: 100px;">
    Website Directory:
    <br/>&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl }}/" style="color: #E1D4C1;">home</a>
    <br/>&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl }}/blog" style="color: #E1D4C1;">blog</a>
    <br/>&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl }}/photo" style="color: #E1D4C1;">film & photo</a>
    <br/>&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl }}/academic" style="color: #E1D4C1;">academic</a>
  </div>
</footer>
