---
layout: default
---

<img src="/images/{{ page.cover }}" style="width:100vw;height:50vh;object-fit: cover;">

<article class="post" style="padding: 5vw;">

    <div style="font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-weight: bold; letter-spacing: 1px; line-height: 17px; text-transform: uppercase; color: #2B1C10; opactiy: 60%;">
    <a href="{{ site.baseurl }}" style="color: #2B1C10;">home</a>&nbsp;/&nbsp;<a href="{{ site.baseurl }}/blog" style="color: #2B1C10;">blog</a>
  </div>

  
  <h1 style="font-family: 'Playfair Display', serif;
font-size: 68px;
font-style: italic;
font-weight: bold;
letter-spacing: normal;
line-height: 68px;
text-transform: none;
color: #2B1C10;">{{ page.title }}</h1>
    
  <div style="float: left; width: 150px; font-family: Lato, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; letter-spacing: 1px; line-height: 17px; text-transform: uppercase; color: #2B1C10; opactiy: 60%;">
    <hr style="border-top: 1px solid #2B1C10; border-bottom: 0px; border-left: 0px; border-right: 0px;">
      <div>{{ page.tag }}</div>
      <hr style="border-top: 1px solid #2B1C10; border-bottom: 0px; border-left: 0px; border-right: 0px;">
    <div>{{ page.date | date: "%B %e, %Y" }}</div>
      <hr style="border-top: 1px solid #2B1C10; border-bottom: 0px; border-left: 0px; border-right: 0px;">
    <div>Written by {{ page.author }}</div>
      <hr style="border-top: 1px solid #2B1C10; border-bottom: 0px; border-left: 0px; border-right: 0px;">
    <div><a href="#cusdis_thread" style="color: #2B1C10;">Leave a comment</a></div>
      <hr style="border-top: 1px solid #2B1C10; border-bottom: 0px; border-left: 0px; border-right: 0px;">
  </div>
  
  <div class="entry" style="margin-left: 165px; padding-right: 165px; font-family: Georgia, Times, 'Times New Roman', serif; font-size: 18px; font-style: normal; font-weight: normal; letter-spacing: normal; line-height: 26px; text-transform: none; color: #2B1C10">
    {{ page.content | remove: page.excerpt }}
  </div>
 
<br/>
    
  <div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="52836477-e4c4-43d5-b6dc-0ac172d6d7bc"
  data-page-id="{{ page.id }}"
  data-page-url="{{ site.url }}{{ page.baseurl }}{{ page.url }}"
  data-page-title="{{ page.title }}"
      style="margin-left:165px; padding-right:165px; font-family: Georgia, Times, 'Times New Roman', serif; height: 100%;"
></div>
<script defer src="https://cusdis.com/js/cusdis.es.js"></script>
<script>
    window.addEventListener('load', function () {
    let iframe = document.querySelector("#cusdis_thread iframe");
    if (iframe) {
        let observer = new MutationObserver(() => {
            let scrollHeight = iframe.contentWindow.document.body.scrollHeight;
            iframe.style.height = scrollHeight + "px";
        });
        observer.observe(iframe.contentWindow.document.body, { childList: true, subtree: true });
    }
});
</script>
    
</article>
