---
layout: default
---

<article class="post" style="padding: 5vw;">
  <h1 style="font-family: 'Playfair Display', serif;
font-size: 68px;
font-style: italic;
font-weight: bold;
letter-spacing: normal;
line-height: 68px;
text-transform: none;
color: #2B1C10;">{{ page.title }}</h1>

  <div class="entry" style="font-family: Georgia, Times, 'Times New Roman', serif; font-size: 23px; font-style: normal; font-weight: normal; letter-spacing: normal; line-height: 33px; text-transform: none; color: #2B1C10">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
